@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&family=Oswald:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #343A44;
}

a:hover {
    text-decoration: none;
    color: #92cfbb;
}

#navbar_upside {
    background-color: #1f1f1f;
}

#search_bar {
    background-color: #222222;
}

#dropdown-nav {
    background-color: #444444;
    color: #EEEEEE;
}

#main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
}

.code {
    background-color: #1e2938;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.code-title {
    font-size: 30px;
}

.code-text {
    font-size: 18px;
}

.code-btn {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.lang {
    font-size: 30px;
    color: #45c1d1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}


.code:hover {
    background-color: #374859;
    transform: scale(1.07); 
    color: #d9e284;
}






.another_menu {
    background-color: #222222;
    color: #1a5832;
    font-family: 'Inconsolata', monospace;  
    border-style: solid;
    border-color: #6b5f4a;
    border-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 10px;
}

.start_menu {
    border-style: solid;
    border-color: #412804;
    border-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 5px;
}

@keyframes blink {
    0%, 100% {
        opacity: 0; /* Make the element transparent at the start and end of the animation */
    }
    
    50% {
        opacity: 1; /* Make the element fully visible in the middle of the animation */
    }
}

.must_blink {
    display: inline;
    animation: blink 1s infinite; /* Apply the blink animation */
}


#fun_fact {
    display: none;
    background: linear-gradient(skyblue,lightgreen);
    color: #333333;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.profile-img {
    border-radius: 50%;
}

.author {
    background-color: #222222;
    color: #EEEEEE;
}
